<!--いいね送信・削除の分岐-->
<% if post.favorited_by?(current_user) %>
  <div>
    <%= link_to post_favorites_path(post), method: :delete, remote: true do %>
      <span class="yes-favo"><i class="fas fa-beer"></i><%= post.favorites.count %> Like!</span>
    <% end %>
  </div>
<% else %>
  <div>
    <%= link_to post_favorites_path(post), method: :post, remote: true do %>
      <span class="no-favo"><i class="fas fa-beer"></i><%= post.favorites.count %> Like!</span>
    <% end %>
  </div>
<% end %>