<h2>ユーザ一覧</h2>
<% @users.each do |user| %>
  <%= link_to user_path(user.id) do %>
    <%= attachment_image_tag user, :profile_image, class: "post_profile_icon", fallback: "shugo_logo.png" %>
    <%= user.name %><br />
  <% end %>
<% end %>